.container-fluid {
    background-color: rgb(215, 219, 215);
    margin-right: 10px;
    margin-left: 10px;
}

.col-md-3 {
    background-color: blanchedalmond;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;

}

.row {
    text-align: center;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {  }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {  }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {  }