.container-fluid {
    background-color: white;
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
}

.col-md-3 {
    background-color: blanchedalmond;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    border-radius: 10px;
    border: 3x solid black;
    border-style: solid;
    box-shadow: 5px 5px 6px black, 5px 5px 4px black;
}

.row {
    text-align: center;
}
